.guess-tracker {
    width: 24px;
    height: 24px;
    background-color: black;
}

.current-guess {
   border: 1px solid blue;
}

.wrong-guess {
    background-color: red;
}

.right-guess {
    background-color: green;
}